version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    dns: 8.8.8.8
    environment:
      - HOST=0.0.0.0 # Pastikan container mendengarkan di semua alamat
      - NODE_ENV=production
      - NEXT_PUBLIC_API_HOST=192.168.6.106
      - NEXT_PUBLIC_API_PORT=5000
      - X_API_KEY=3af91c651c18b69f37413798ec0f3eee
      - BASE_URL=//https://app-medapp.eksad.com
      - MEDIN_URL=//http://192.168.6.85/api/medinfras/compound-info
      - X_API_KEY_MEDIN=AMqey0yAVrqmhR82RMlWB3zqMpvRP0zaaOheEeq2tmmcEtRYNj2
      - CONS_ID=58381288
      - SECRETKEY=BeatoCarloAcutis
      - PASSWORD=98a6afc736128debea23ee23f365993c
    networks:
      - app_network
    stdin_open: true
    tty: true
    restart: always
    command: ["npx", "next", "start", "-p", "3000", "-H", "0.0.0.0"]

networks:
  app_network:
    driver: bridge

