version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_container_farmasi
    dns: 8.8.8.8 
    ports:
      - "5000:5000"
    environment:
      - X_API_KEY=${X_API_KEY}
      - BASE_URL=${BASE_URL}
      - HOST=${HOST}
      - PORT=${PORT}
      - FE_HOST=${FE_HOST}
      - FE_PORT=${FE_PORT}
      - MEDIN_URL=${MEDIN_URL}
      - MEDIN_URL2=${MEDIN_URL2}
      - MEDIN_URL_GMCB=${MEDIN_URL_GMCB}
      - X_API_KEY_MEDIN=${X_API_KEY_MEDIN}
      - CONS_ID=${CONS_ID}
      - PASSWORD=${PASSWORD}
      - CONS_ID_FARMASI=${CONS_ID_FARMASI}
      - SECRETKEY=${SECRETKEY}
      - API_URL=${API_URL}
      - API_WA=${API_WA}
      - CONS_ID_WA=${CONS_ID_WA}
      - PASSWORD_WA=${PASSWORD_WA} 
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=
      - DB_NAME=farmasi_queue_db
    depends_on:
      db:
        condition: service_healthy
    networks:
      - farmasi_network
    restart: always

  db:
    image: mysql:8.0
    container_name: mysql_container_farmasi
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: farmasi_queue_db
    volumes:
      - mysql_data_farmasi:/var/lib/mysql
    networks:
      - farmasi_network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=secret || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_container_farmasi
    ports:
      - "3300:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: secret
    depends_on:
      - db
    networks:
      - farmasi_network
    restart: always

networks:
  farmasi_network:
    driver: bridge

volumes:
  mysql_data_farmasi:
  redis_data:
